@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Color Variables */
    --primary: #1e5e35;
    --white: #ffffff;
    --white-dull: #f0f0f0;
    --dark: #1f1c1b;
    --accent: #275473;
    --gray-dark: #2e2e2b;
    
}

  /* ====== Base Styles ====== */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Londrina Solid', cursive;
    color: var(--gray-dark);
}

.bg-primary{
    background-color: var(--primary) !important;
    /* color: var(--white) !important; */
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100%;
    /* color: var(--gray-dark); */
    background-color: #f1f1f1 !important;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

/* navbar */
.brand-logo img{
    width: 90px;
    height: 90px;
}
.nav-item a{
    font-size: 25px;
}
.nav-hover a:hover{
    color: var(--primary) !important;
    transition: ease-in-out 0.2s;
}
.nav-hover a:focus{
    background-color: var(--white-dull) !important;
    transition: ease-in-out 0.2s;
}
.blog-item:hover{
    filter: brightness(90%);
    cursor: pointer;
    transition: ease-in-out 0.2s;

}
.blog-link:hover{
    color: var(--white) !important;
}
